* {
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 11pt;
}

:root {
    --colour-button: grey;
    --colour-button-hover: rgb(194, 194, 194);
    --colour-nav-background: grey;
    --colour-nav-text: white;
    --colour-nav-button-hover: rgb(82, 82, 82);
    --colour-filter-background: rgb(196, 196, 196);
    --colour-workout-container-background: rgb(219, 219, 219);
    --colour-workout-container-border: rgb(146, 146, 146);
    --colour-workout-exercise-background: rgb(161, 189, 211);
    --colour-input-error: red;
    --colour-pagination-button: rgb(205, 207, 205);
    --colour-pagination-text: black;
    --colour-welcome-button-background: rgb(230, 230, 230);
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--colour-nav-background);
}

nav > div {
    display: flex;
    flex-direction: row;
}

nav > div > div {
    padding: 6px 0;
}

nav > div > div:hover {
    background: var(--colour-nav-button-hover);
}

nav a {
    padding: 10px 10px;
    color: var(--colour-nav-text);
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

.title {
    width: 100%;
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: space-between;
}

.title > h1,
.title > h3 {
    display: flex;
    align-items: end;
    margin-top: 20px;
    margin-bottom: 2px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    background: var(--colour-button);
    border: 1px solid rgb(75, 75, 75);
    border-radius: 3px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background: var(--colour-button-hover);
}

#welcome-container {
    margin-top: 100px;
    display: flex;
    gap: 40px;
    align-items: center;
}

#welcome-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 40px;
    border: 1px solid var(--colour-workout-container-border);
    border-radius: 10px;
    background: var(--colour-welcome-button-background);
}

#workouts-grid,
#exercises-grid {
    display: grid;
    grid-template-columns: 170px 1fr;
    grid-template-rows: 1fr 20px;
    gap: 10px;
}

#workouts-actions,
#exercises-actions {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#workouts-list,
#exercises-list {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

#workouts-pagination,
#exercises-pagination {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#workouts-filter,
#exercises-filter {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: var(--colour-filter-background);
    margin: 0 10px;
    padding: 10px;
    gap: 15px;
}

#workouts-filter > .label-container,
#exercises-filter > .label-container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#workouts-filter-buttons,
#exercises-filter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#workouts-filter-buttons .button,
#exercises-filter-buttons .button {
    width: 60px;
    height: 20px;
}

#workouts-button-create,
#exercises-button-create {
    width: 150px;
    margin: 20px 0;
}

.workouts-list,
.exercises-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.workout-list-container,
.exercise-list-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
    background: var(--colour-workout-container-background);
    border: 1px solid var(--colour-workout-container-border);
    margin: 0 10px;
    padding: 5px;
    width: 350px;
}

.workout-list-header {
    display: flex;
    justify-content: space-between;
    background: white;
}

.workout-list-header > div {
    padding: 5px 10px;
}

.workout-list-header-name,
.workout-list-header-user {
    display: flex;
    align-items: center;
}

.workout-list-header-user {
    font-size: 0.9em;
}

.workout-list-categories {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: left;
}

.workout-list-category {
    display: flex;
    width: 100%;
    background: white;
}

.workout-list-category-name {
    padding: 5px 10px;
    min-width: 80px;
    display: flex;
    align-items: center;
    font-size: 0.85em;
}

.workout-list-category-exercise-list {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
}

.workout-list-category-exercise {
    font-size: 0.7em;
    background: var(--colour-workout-exercise-background);
    border-radius: 3px;
    margin: 1px 4px;
    padding: 1px 8px;
    text-align: center;
    display: flex;
    align-items: center;
}

#profile-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 80%;
}

#profile-details-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#profile-details-info > div {
    display: flex;
}

#profile-details-info .label {
    width: 90px;
    font-weight: bold;
}

#profile-edit-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#profile-edit-message {
    width: 80%;
}

#profile-edit-user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#profile-edit-user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

#profile-edit-user-info > div {
    display: flex;
    gap: 5px;
}

#profile-edit-user-info label {
    width: 150px;
    font-weight: bold;
}

#profile-edit-user-info .input {
    width: 250px;
}

#profile-edit-user-info #visibility {
    width: 100px;
}

#profile-edit-buttons {
    display: flex;
    gap: 10px;
}

#profile-edit-buttons .button {
    width: 80px;
}

#workout-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
    border: 1px solid var(--colour-workout-container-border);
    padding: 10px;
    margin-top: 20px;
}

#workout-details {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
}

#workout-details > div {
    display: flex;
    gap: 5px;
}

#workout-details label {
    width: 80px;
    font-weight: bold;
}

#workout-exercises {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

#workout-exercises-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
}

#workout-exercises-title > div:first-child {
    font-weight: bold;
}

#workout-exercises-title > div:last-child {
    margin: 2px;
}

.button-small {
    width: 50px;
    height: 20px;
    font-size: 0.7em;
}

.workout-exercises-add-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid black;
    width: 95%;
    padding: 5px;
}

#workout-exercises-add-details {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
}

#workout-exercises-add-details > div {
    display: flex;
    gap: 5px;
}

#workout-exercises-add-details label {
    width: 80px;
    font-weight: bold;
}

#workout-exercises-add-details select {
    width: 180px;
}

#workout-exercises-add-details #restInput {
    width: 60px;
}

#workout-exercises-add-sets {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: left;
}

#workout-exercises-add-sets-header {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    border-bottom: 1px solid black;
    justify-items: center;
}

#workout-exercises-add-sets-header > div {
    font-weight: bold;
}
#workout-exercises-add-sets-header #button-new-set-add {
    margin: 2px;
}

#workout-exercises-add-sets-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#workout-exercises-add-sets-details > div {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}

#workout-exercises-add-sets-details .input {
    width: 70px;
    text-align: center;
}

#workout-exercises-add-buttons {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

#workout-exercises-details {
    width: 100%;
}

#workout-exercises-details > thead {
    font-weight: bold;
}

#workout-exercises-details th {
    text-align: left;
}

#workout-exercises-details td:last-child {
    display: flex;
    gap: 3px;
}

.button-workout-exercise-edit,
.button-workout-exercise-delete {
    width: 50px;
    height: 20px;
    font-size: 0.7em;
}

#workout-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 10px;
}

#workout-buttons .button {
    width: 70px;
    height: 30;
}

#workouts-show-exercises-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    gap: 5px;
}

.workouts-show-exercise-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding: 3px;
    background: var(--colour-workout-container-background);
    border: 1px solid var(--colour-workout-container-border);
}

.workouts-show-exercise-name,
.workouts-show-exercise-rest,
.workouts-show-exercise-sets-container {
    width: 100%;
    display: flex;
    align-items: center;
    background: white;
    padding: 3px 5px;
}

.workouts-show-exercise-name {
    justify-content: flex-start;
}

.workouts-show-exercise-rest {
    justify-content: flex-start;
    /* font-size: 0.8em; */
}

.workouts-show-exercise-sets-container {
    flex-direction: column;
    align-items: center;
}

.workouts-show-exercise-sets-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.button-set-arrow {
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

.button-set-arrow:hover {
    background: rgb(219, 219, 219);
}

.workouts-show-exercise-sets-details {
    width: 95%;
}

.workouts-show-exercise-sets-details th,
.workouts-show-exercise-sets-details tr {
    display: flex;
    justify-content: space-between;
}

#workouts-show-buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
}

#workouts-show-buttons .button {
    width: 70px;
    height: 25px;
    font-size: 0.9em;
}

.show-delete-confirm-container {
    border: 1px solid black;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 10px;
}

.show-delete-confirm-container > div {
    display: flex;
    text-align: center;
    margin: 5px auto;
}

.show-delete-confirm-container > form {
    display: flex;
    margin: 5px auto;
    gap: 10px;
}

.show-delete-confirm-container .button {
    width: 70px;
    height: 25px;
    font-size: 0.9em;
}

.exercise-list-container {
    flex-direction: row;
    justify-content: space-between;
}

.exercise-list-details-container,
.exercise-list-measurements-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.exercise-list-details-container {
    align-items: flex-start;
    width: 60%;
}

.exercise-list-measurements-container {
    align-items: center;
    justify-content: space-around;
    width: 40%;
    height: 100%;
}

.exercise-list-name,
.exercise-list-category {
    background: white;
    padding: 5px;
    width: 100%;
}

.exercise-list-name {
    font-weight: bold;
}

.exercise-list-measurement {
    background: var(--colour-workout-exercise-background);
    width: 100px;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
}

#exercise-details-info {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#exercise-details-info > div {
    display: flex;
    gap: 10px;
}

#exercise-details-info .label {
    width: 200px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

#exercise-details-info .value {
    width: 200px;
    display: flex;
    justify-content: flex-start;
}

#exercise-new-form {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#exercise-new-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#exercise-new-details > div {
    display: flex;
    gap: 10px;
}

#exercise-new-details label {
    width: 200px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#exercise-new-details .input {
    width: 200px;
    display: flex;
    justify-content: flex-start;
}

#exercise-show-buttons,
#exercise-new-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

#exercise-show-buttons .button,
#exercise-new-buttons .button {
    width: 70px;
}

.pagination {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 3px;
    margin: 10px;
}

.button-pagination {
    width: 100%;
    height: 20px;
    font-size: 0.7em;
    background: var(--colour-pagination-button);
    color: var(--colour-pagination-text);
    border-width: 0.5px;
    border-radius: 0;
}

#pagination-first {
    grid-column: 1 / span 1;
}

#pagination-previous {
    grid-column: 2 / span 1;
}

#pagination-next {
    grid-column: 3 / span 1;
}

#pagination-last {
    grid-column: 4 / span 1;
}

/* Leave at the end */
span.bold {
    font-weight: bold;
}

span.italic {
    font-style: italic;
}

.input-error {
    border-color: var(--colour-input-error);
}

.container-hide {
    display: none;
}
