* {
    box-sizing: border-box;
}

:root {
    --colour-button: grey;
    --colour-button-hover: rgb(194, 194, 194);
    --colour-nav-background: grey;
    --colour-nav-text: white;
    --colour-nav-button-hover: rgb(82, 82, 82);
    --colour-filter-background: rgb(196, 196, 196);
    --colour-workout-container-background: rgb(219, 219, 219);
    --colour-workout-container-border: rgb(146, 146, 146);
    --colour-workout-exercise-background: rgb(161, 189, 211);
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--colour-nav-background);
}

nav > div {
    display: flex;
    flex-direction: row;
}

nav > div > div {
    padding: 6px 0;
}

nav > div > div:hover {
    background: var(--colour-nav-button-hover);
}

nav a {
    padding: 10px 10px;
    color: var(--colour-nav-text);
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 0 auto;
}

.title {
    width: 100%;
    border-bottom: 2px solid grey;
}

.title > h1 {
    margin-top: 20px;
    margin-bottom: 2px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    background: var(--colour-button);
    border: 1px solid rgb(75, 75, 75);
    border-radius: 3px;
    color: white;
    text-decoration: none;
}

.button:hover {
    background: var(--colour-button-hover);
}

#workouts-grid {
    display: grid;
    grid-template-columns: 170px 1fr;
    grid-template-rows: 1fr 20px;
    gap: 10px;
}

#workouts-actions {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#workouts-list {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

#workouts-pagination {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#workouts-filter {
    width: 150px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: var(--colour-filter-background);
    margin: 0 10px;
    padding: 10px;
    gap: 6px;
}

#workouts-filter > .label-container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#workouts-filter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#workouts-filter-buttons .button {
    width: 50px;
    height: 20px;
}

#workouts-button-create {
    width: 150px;
    margin: 20px 0;
}

.workouts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.workout-list-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
    background: var(--colour-workout-container-background);
    border: 1px solid var(--colour-workout-container-border);
    margin: 0 10px;
    padding: 5px;
}

.workout-list-header {
    width: 300px;
    display: flex;
    justify-content: space-between;
    background: white;
}

.workout-list-header > div {
    padding: 5px 10px;
}

.workout-list-header-name,
.workout-list-header-user {
    display: flex;
    align-items: center;
}

.workout-list-header-user {
    font-size: 0.9em;
}

.workout-list-categories {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: left;
    background: white;
}

.workout-list-category {
    display: flex;
}

.workout-list-category-name {
    padding: 5px 10px;
    min-width: 80px;
    display: flex;
    align-items: center;
    font-size: 0.85em;
}

.workout-list-category-exercise-list {
    display: flex;
    gap: 5px;
}

.workout-list-category-exercise {
    font-size: 0.7em;
    background: var(--colour-workout-exercise-background);
    border-radius: 3px;
    margin: 4px;
    padding: 1px 8px;
    text-align: center;
    display: flex;
    align-items: center;
}

#profile-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 80%;
}

#profile-details-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#profile-details-info > div {
    display: flex;
}

#profile-details-info .label {
    width: 90px;
    font-weight: bold;
}

#workout-new-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
    border: 1px solid var(--colour-workout-container-border);
    padding: 10px;
    margin-top: 20px;
}

#workout-new-details {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
}

#workout-new-details > div {
    display: flex;
    gap: 5px;
}

#workout-new-details label {
    width: 80px;
    font-weight: bold;
}

#workout-new-exercises {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

#workout-new-exercises-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
}

#workout-new-exercises-title > div:first-child {
    font-weight: bold;
}

#workout-new-exercises-title > div:last-child {
    margin: 2px;
}

.button-small {
    width: 50px;
    height: 20px;
    font-size: 0.7em;
    cursor: pointer;
}

#workout-new-exercises-add-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid black;
    width: 95%;
    padding: 5px;
}

.container-hide {
    display: none;
}

#workout-new-exercises-add-details {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
}

#workout-new-exercises-add-details > div {
    display: flex;
    gap: 5px;
}

#workout-new-exercises-add-details label {
    width: 80px;
    font-weight: bold;
}

#workout-new-exercises-add-details select {
    width: 180px;
}

#workout-new-exercises-add-details #restInput {
    width: 60px;
}

#workout-new-exercises-add-sets {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: left;
}

#workout-new-exercises-add-sets-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

#workout-new-exercises-add-sets-header > div {
    font-weight: bold;
}
#workout-new-exercises-add-sets-header > div:last-child {
    margin: 2px;
}

#workout-new-exercises-add-sets-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#workout-new-exercises-add-sets-details > div {
    display: flex;
    justify-content: space-between;
}

#workout-new-exercises-add-sets-details input {
    width: 70px;
}

#workout-new-exercises-add-buttons {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

#workout-new-exercises-details {
    width: 100%;
}

#workout-new-exercises-details > thead {
    font-weight: bold;
}

#workout-new-exercises-details th {
    text-align: left;
}

#workout-new-exercises-details td:last-child {
    display: flex;
    gap: 3px;
}

.button-workout-new-exercise-edit,
.button-workout-new-exercise-delete {
    width: 50px;
    height: 20px;
    font-size: 0.7em;
}

#workout-new-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 10px;
}

#workout-new-buttons .button {
    width: 70px;
    height: 30;
}
