<%- include('../partials/header') %>

<form id="exercise-new-form" action="/exercises/new" method="POST">
  <%- include('../partials/exercise-add-edit-form') %>
</form>

<%- include('../partials/footer') %>